* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding-top: 72px;
  padding-bottom: 72px;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
  padding-left: 24px;
  max-width: 415px;
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 24px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.indented-heading {
  background: hsla(45, 100%, 50%, 1);
  font-size: 1.5rem;
  line-height: 1.2;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 1rem;
  width: fit-content;
  margin: 0;
  margin-bottom: 24px;
  margin-left: -32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}